.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;

    .signupLink {
        flex-basis: 40em;

        display: flex;
        flex-direction: row;
        border-radius: 2em;
        box-shadow: var(--ifm-global-shadow-lw);
        padding: 1em 2em;

        .info {
            flex-grow: 1;
        }

        .buttons {
            flex-grow: 0;
            display: flex;
            flex-direction: column;
        }

        .linkBadge {
            font-size: 0.8em;
        }

        .textInput {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid var(--ifm-color-gray-500);
            border-radius: 4px;
            font-size: 16px;
            box-shadow: var(--ifm-global-shadow-md);
            transition:
                border-color 0.3s,
                box-shadow 0.3s;

            &:focus {
                border-color: var(--ifm-link-hover-color);
                outline: none;
                box-shadow: 0 0 8px var(--ifm-link-hover-color);
            }
        }

        .textarea {
            width: 100%;
            min-width: 18em;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid var(--ifm-color-gray-500);
            border-radius: 4px;
            font-size: 16px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
            transition:
                border-color 0.3s,
                box-shadow 0.3s;
            resize: vertical; /* Allow vertical resizing only */

            &:focus {
                border-color: #66afe9;
                outline: none;
                box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
            }
        }

        .validThroughInputContainer {
            display: flex;
            flex-direction: row;
            gap: 0.2em;
        }
    }
}
