.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .signupLinks {
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // gap: 0.5em;
        width: 100%;

        .signupLink {
            display: grid;
            grid-template-columns: 1fr 15fr 1fr 1fr 1fr 1fr;
            align-items: center;
            justify-items: start;
            border: 1px solid var(--ifm-color-gray-500);
            border-radius: 1em;
            padding: 1em 1.5em;
            width: 100%;
            margin-top: 1em;
            box-shadow: var(--ifm-global-shadow-lw);

            .description {
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .editButtonContainer {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
        }

        .editSignupLink {
            flex-basis: 40em;

            display: flex;
            flex-direction: row;
            border-radius: 2em;
            box-shadow: var(--ifm-global-shadow-lw);
            padding: 1em 2em;

            .info {
                flex-grow: 1;
            }

            .buttons {
                flex-grow: 0;
                display: flex;
                flex-direction: column;
            }

            .linkBadge {
                font-size: 0.8em;
            }

            .numberInput {
                padding: 5px;
                margin: 5px 0;
                width: 6em;
                border: 1px solid var(--ifm-color-gray-500);
                border-radius: 4px;
                transition: border-color 0.3s;

                &:focus {
                    border-color: var(--ifm-link-hover-color);
                    outline: none;
                    box-shadow: 0 0 8px var(--ifm-link-hover-color);
                }
            }

            .textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid var(--ifm-color-gray-500);
                border-radius: 4px;
                font-size: 16px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
                transition:
                    border-color 0.3s,
                    box-shadow 0.3s;
                resize: vertical; /* Allow vertical resizing only */

                &:focus {
                    border-color: #66afe9;
                    outline: none;
                    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
                }
            }

            .inputWithButton {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.2em;

                .button {
                    height: fit-content;
                }
            }
        }
    }
}
