.tree {
    --trees-search-bg: var(--ifm-background-surface-color);
    --trees-bg: var(--ifm-background-color);
    // --trees-search-fg
    // --trees-border-color
    // --trees-accent
    // --trees-fg-muted
    // --trees-bg-muted
    color-scheme: light;
    .contextMenu {
        position: fixed;
        top: 0;
        left: 0;
        .menuContent {
            transform: translate();
        }
    }
}
.fileTreeComponent {
    --trees-padding-inline-override: 0px;
}

[data-theme='dark'] {
    .tree {
        color-scheme: dark;
    }
}
