.feedbackBadge {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    .pointsBadge {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
