.binaryDecoder {
    --tdev-bit-width: 5px;
    --tdev-bit-height: 15px;
    .meta {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        .bytes {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
        }
    }
    .output {
        font-size: 2em;
    }
}
