.flipCard {
    perspective: 1000px;
    cursor: pointer;

    .body {
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;

        .front,
        .back {
            // position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .back {
            transform: rotateY(180deg);
            height: 0;
            width: 0;
        }
    }
    &.flipped {
        flex-basis: 100%;
        order: -1;
        .body {
            transform: rotateY(180deg);
            .front {
                height: 0;
            }
            .back {
                height: 100%;
                width: 100%;
            }
        }
    }
    .label {
        display: flex;
        justify-content: center;
    }
}
