/* styles.module.css */
.board {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border: 2px solid #333;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.black {
    background-color: #769656;
}

.white {
    background-color: #eeeed2;
}

.queen {
    font-size: 32px;
    line-height: 0;
    user-select: none;
}

.initialQueen {
    color: #F30000;
}

.safeQueen {
    color: #000000;
}

.attackedQueen {
    color: #000000;
}
