.bit {
    width: var(--tdev-bit-width);
    background: var(--ifm-color-content);
    height: calc(var(--tdev-bit-height) / 3);
    border-radius: calc(var(--tdev-bit-width) / 5);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &.one {
        height: var(--tdev-bit-height);
    }
    &.unset {
        background: var(--ifm-color-secondary-darker);
    }
}
