.choiceAnswerContainer {
    position: relative;

    .syncStatus {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
    }
}

.choiceAnswerOptionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        margin: 0;
    }

    label {
        margin-left: 0.2em;
    }

    .btnDeleteAnswer {
        margin-left: 0.7em;
        font-size: 0.8em;
    }
}
