$container-padding-top-bottom: 0.7em;
$container-padding-left-right: 1em;

.choiceAnswerContainer {
    position: relative;
    margin-bottom: 1em;

    p {
        margin: 0 0 0.5em 0;
    }

    $boxShadowDefaults: 0 0 8px;

    &.correct {
        box-shadow: $boxShadowDefaults var(--ifm-color-success);

        .header {
            background-color: var(--ifm-color-success-contrast-background);
        }
    }

    &.partiallyCorrect {
        box-shadow: $boxShadowDefaults var(--ifm-color-warning);

        .header {
            background-color: var(--ifm-color-warning-contrast-background);
        }
    }

    &.incorrect {
        box-shadow: $boxShadowDefaults var(--ifm-color-danger-lighter);

        .header {
            background-color: var(--ifm-color-danger-contrast-background);
        }
    }

    .header {
        background-color: var(--ifm-color-secondary-lightest);
        padding: $container-padding-top-bottom $container-padding-left-right;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin: 0;
        }

        .title {
            font-weight: bold;
            font-size: 1.1em;
        }

        .syncStatus {
            position: static;
        }

        .controlsAndFeedback {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5em;
        }

        .controlsContainer {
            position: relative;
            top: 0;
            right: 0;
        }
    }
}

.optionsBlock {
    $btnRemoveAnswerTransitionDuration: 0.15s;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    .optionsContainer {
        display: flex;
        flex-direction: column;

        .choiceAnswerOptionContainer {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                margin: 0;
            }

            label {
                margin-left: 0.2em;
            }

            &:hover .btnDeleteAnswer {
                opacity: 1;
                transition: opacity $btnRemoveAnswerTransitionDuration;
            }
        }

        .btnDeleteAnswer {
            margin-left: 0.7em;
            font-size: 0.8em;
            opacity: 0;
            transition: opacity $btnRemoveAnswerTransitionDuration;
        }

        &:hover .btnDeleteAnswer {
            opacity: 0.6;
            transition: opacity $btnRemoveAnswerTransitionDuration;
        }
    }
}

.quizContainer {
    display: flex;
    flex-direction: column;
}

.quizFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5em;
    gap: 0.5em;
}

.controlsContainer {
    position: absolute;
    top: $container-padding-top-bottom;
    right: $container-padding-left-right;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.checkButton {
    z-index: 9999;
}

.quizCheckOrResetButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.feedbackBadge {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .pointsBadge {
        margin-right: 0.5em;
    }
}
