.progress {
    padding-left: 0;
    --tdev-progress-bullet-size: 2rem;
    --tdev-progress-rail-color: var(--ifm-color-secondary-darkest);
    --guide-width: 2.5px;
    .item {
        list-style: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
        position: relative;
        .progressButton {
            width: var(--tdev-progress-bullet-size);
            height: var(--tdev-progress-bullet-size);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            cursor: pointer;
            font-weight: bold;

            border-width: 0px;
            background-color: var(--ifm-background-surface-color);
            &:hover {
                background-color: var(--ifm-color-secondary);
            }
            @keyframes flash {
                0%,
                100% {
                    opacity: 1;
                }
                50% {
                    opacity: 0.8;
                }
            }

            @keyframes shake {
                0%,
                100% {
                    transform: translateX(0) rotate(0deg);
                }
                10%,
                30%,
                50%,
                70%,
                90% {
                    transform: translateX(-2px) rotate(-5deg);
                }
                20%,
                40%,
                60%,
                80% {
                    transform: translateX(2px) rotate(5deg);
                }
            }
            &.animate {
                animation:
                    flash 1s normal,
                    shake 1.5s normal;
                transform-origin: center;
            }
        }
        &.current.inactiveLatest {
            .progressButton {
                border: 1px dashed var(--ifm-color-primary);
            }
        }
        &.done,
        &.alreadyDone {
            --tdev-progress-rail-color: var(--ifm-color-success);
        }
        &:not(.active):not(:first-child)::before {
            content: '';
            position: absolute;
            top: calc(-1 * var(--ifm-list-item-margin));
            height: calc(var(--tdev-progress-bullet-size) / 2);
            inset-inline-start: calc((var(--tdev-progress-bullet-size) - var(--guide-width)) / 2);
            width: var(--guide-width);
            background-color: var(--tdev-progress-rail-color);
            border-width: 0;
            pointer-events: none;
        }
        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: var(--tdev-progress-bullet-size);
            bottom: calc(-1 * var(--ifm-list-item-margin));
            inset-inline-start: calc((var(--tdev-progress-bullet-size) - var(--guide-width)) / 2);
            width: var(--guide-width);
            background-color: var(--tdev-progress-rail-color);
            border-width: 0;
            pointer-events: none;
        }
        &:not(:last-child):not(.active) {
            &:has(> .progressButton) {
                &::after {
                    top: calc(var(--tdev-progress-bullet-size) / 2);
                }
            }
        }
        .content {
            flex-grow: 1;
        }
        .label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border-radius: var(--ifm-global-radius);
            padding: 0;
            transition: all 0.2s ease-in-out;
            user-select: none;
            &.activeLabel {
                font-weight: bold;
            }
            .chevron {
                opacity: 0;
            }
            &:hover {
                padding: 0 0.5rem;
                box-shadow: var(--ifm-global-shadow-md);

                .chevron:not(.activeChevron) {
                    opacity: 1;
                    &.up {
                        animation: chevron-bounce-up 1s ease-in-out infinite;
                    }
                    &.down {
                        animation: chevron-bounce-down 1s ease-in-out infinite;
                    }
                }
            }
        }

        @keyframes chevron-bounce-down {
            0% {
                transform: translateY(-3px) scale(0.8);
            }
            50% {
                transform: translateY(3px) scale(1.1);
            }
            100% {
                transform: translateY(-3px) scale(0.8);
            }
        }
        @keyframes chevron-bounce-up {
            0% {
                transform: translateY(3px) scale(0.8);
            }
            50% {
                transform: translateY(-3px) scale(1.1);
            }
            100% {
                transform: translateY(3px) scale(0.8);
            }
        }
    }
}
