.presentationMode {
    width: 100vw;
    padding: 2em;
    height: 100%;
}

@media screen and (max-width: 620px) {
    .presentationMode {
        padding: 0.3em;
    }
}

.tabs {
    --ifm-tabs-padding-vertical: 0.2em;
    --ifm-tabs-padding-horizontal: 0.4em;
}
