.presentationMode {
    --tdev-presentation-panel-padding: 2em;
    width: calc(100vw - 2 * var(--tdev-presentation-panel-padding));
    padding: var(--tdev-presentation-panel-padding);
    height: 100%;
}

@media screen and (max-width: 620px) {
    .presentationMode {
        --tdev-presentation-panel-padding: 0.3em;
    }
}

.tabs {
    --ifm-tabs-padding-vertical: 0.2em;
    --ifm-tabs-padding-horizontal: 0.4em;
}
