.switch {
    width: 20px;
    height: 20px;
    .buttonNode {
        border-width: 0;
        line-height: 0;
        padding-bottom: 4px;
        position: absolute;
        top: 0;
        left: -2px;
        width: 100%;
        height: 100%;
    }
}
