.or {
    font-size: 70%;
    padding: 0 3px;
    position: relative;
    .inputs {
        position: absolute;
        top: 1px;
        left: -10px;
        width: 10px;
        height: calc(100% - 2px);
        border-style: solid;
        border-color: var(--ifm-font-color-base);
        border-width: 2px 0;
    }
    .output {
        position: absolute;
        top: calc(50% - 0.9px);
        right: -12px;
        width: 7px;
        border-style: solid;
        border-color: var(--ifm-font-color-base);
        border-width: 2px 0 0 0;
    }
    &::before {
        content: '';
        position: absolute;
        left: -10px;
        top: -6px;
        width: 10px;
        height: calc(100% + 10px);
        border: 1px solid var(--ifm-font-color-base);
        border-left: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &::after {
        content: '';
        position: absolute;
        top: -6px;
        left: -10px;
        width: 35px;
        height: calc(100% + 10px);
        border: 1px solid var(--ifm-font-color-base);
        border-left: 0;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}
